


<a href="@Url.Action("ShowCart", "ShoppingCart")" style="color:white; margin-left: 2px">
    <span class="glyphicon glyphicon-shopping-cart"></span><i class="fas fa-shopping-cart"></i><br />Giỏ hàng <span style="color:white;position:absolute;top:5%">@ViewBag.TotalCart</span>
</a>
