@model IEnumerable<fptshop1.Models.Customer>


    @{
        ViewBag.Title = "Index";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }

    <h2>KHÁCH HÀNG  </h2>


    <table class="table">
        <tr>
            <th>
                TÊN KHÁCH HÀNG
            </th>
            <th>
                EMAIL
            </th>
            <th>
                SỐ DIỆN THOẠI
            </th>
            <th>
                PASSWORD
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CusName)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.CusEmail)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CusPhone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CusPassword)
                </td>
            </tr>
        }

    </table>
   

